
.main-display{
    background-color: blue;
    border-width: 5px;
    border-style: solid;
    border-color: rgb(139, 136, 136);
    height: AUTO;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    display: grid;
    grid-template-rows:1fr;
    
    display: grid;
    grid-template-columns: 1fr 1fr;    
    
        
    text-align: center;
    text-size-adjust: auto;
    font-size: 30px;    
}
.top-text{
    padding-top: 10px;
    color: purple;
    font-size: 20px;
}
.bottom-text{
    padding-bottom: 10px;
    color: green;
    font-size: 30px;
}
.main-voltage,.load-power,.load-voltage,.solar-power,.total-power,.today-power,.export-power{
    background-color: black;
    padding:  0px;   
    border: 2px;
    border-style: solid ;
    border-color:grey; 

    display: grid;
    grid-template-rows: 1fr 1fr;    
}

